@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


a.active hr{
    display: block;
}

@media(max-width:640px){
    a.active{
        background-color: #a0a7ac;
        color: white;
        border: #a0a7ac;
    }
}

*{
    font-family: Outfit, sans-serif;
}
  
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

